# Local .terraform directories (Terraform plugins and caches)
.terraform/
.terraform.lock.hcl

# Terraform state files (often contain sensitive info like ARNs, outputs, etc.)
*.tfstate
*.tfstate.backup

# Terraform crash logs and override files
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files (may contain sensitive information)
*.tfplan

# Sensitive CLI config files (if present)
.terraformrc
terraform.rc

# AWS credentials (Never commit these)
aws_access_key
aws_secret_key
*.env

# MacOS specific files (if you are using Mac)
.DS_Store

# VSCode specific files (if you are using VSCode)
.vscode/
*.code-workspace

# Log files and temporary files
*.log
*.bak
*.swp
*.tmp

# Output files
output.tf

iam.tf

*.zip
*.pem